flask
flask-login
flask-sqlalchemy
gunicorn
python-dotenv
opencensus
opencensus-ext-prometheus
prometheus-client
opencensus-ext-azure
opencensus-ext-flask
flask-principal
pytest
pytest-coverage
pytest-flask
selenium