input[type="text"]{
    display: block;
    width: 50%;
    height: 20px;
    margin: 10px auto;
}
input[type="submit"]{
    display:block;
    width: 15%;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(52, 52, 248);
    color:white;
    margin: 10px auto;
}
form{
    position: absolute;
    width: 40%;
    left: 30%;
    top:25%;
    background-color: whitesmoke;
    z-index: 1;
}