<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Formulaire.css">
    <title>Modif</title>
</head>
<body>
    <form>
        {%for item in row%}
            <input type="text" value={{item}} required></br>
        {% endfor %}
        <input type="submit" id="modify" value="Modifier">
        <input type="submit" id="back" value="Retour">

    </form>
</body>
</html>