<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Formulaire.css">
    <title>Modif</title>
</head>
<body>
    <form>
        {%for i in range(row|length)%}
            <label for={{liste[i]}}>{{liste[i]}} : 
                <input type="text" value={{row[i]}} name={{liste[i]}} required></br>
            </label>
        {% endfor %}
        <input type="submit" id="modify" value="Modifier">
        <button id="back">Retour</button>
    </form>
</body>
</html>