{% extends "base.html" %} {% block title %}Ajouter une candidature{% endblock %} {% block
    content %}
    <br>
    <form method="POST">
      <h2 align="center">Ajouter une candidature</h2>
<br>
<h4>Bonjour {{current_user.first_name}} </h4>
<br>
      <div class="form-group">


          <label for="monselect">Selectionner une entreprise :</label>
          <input list="navigateurs" id="monselect" name="monselect"/>
          <br><br>
          <datalist id="navigateurs">
                {% for entreprise in entreprises %}
                  <option >{{entreprise.name}}</option>
                  {% endfor %}

          </datalist>
          

      <div class="form-group">
        <label for="contact">Contact de l'entreprise</label>
        <input
          type="text"
          class="form-control"
          id="contact"
          name="contact"
          placeholder="Vous pouvez choisir ou ajouter un nom, email ou numéro de telephone "
        />
      </div>
      
      <div class="form-group">
        <label for="status">Status de la requete :</label>
        <input
          type="text"
          class="form-control"
          id="status"
          name="status"
          placeholder="En cours , Accépté , Refusé "
        />
      </div>
      

      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}
    