<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle candidature</title>
</head>
<body>
    {% block content %}
    <h1>Nouvelle Candidature</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.entreprise.label }}<br>
            {{ form.entreprise(size=32) }}<br>
            {% for error in form.entreprise.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lieu.label }}<br>
            {{ form.lieu(size=32) }}<br>
            {% for error in form.lieu.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.contact.label }}<br>
            {{ form.contact(size=32) }}<br>
            {% for error in form.contact.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <!-- <p>
            {{ form.date.label }}<br>
            {{ form.date(size=32) }}<br>
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date_de_relance.label }}<br>
            {{ form.date_de_relance(size=32) }}<br>
            {% for error in form.date_de_relance.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.statut.label }}<br>
            {{ form.statut(size=32) }}<br>
            {% for error in form.statut.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p> -->
        
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
</body>
</html>