{% extends "base.html" %} {% block title %}Formulaire{% endblock %} {% block content
    %}
<body>
    <h1>Nouvelle Candidature</h1>
    <form action="" method="post" novalidate>
        {{ form_add.hidden_tag() }}
        <p>
            {{ form_add.entreprise.label }}<br>
            {{ form_add.entreprise(size=32) }}<br>
            {% for error in form_add.entreprise.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form_add.lieu.label }}<br>
            {{ form_add.lieu(size=32) }}<br>
            {% for error in form_add.lieu.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form_add.contact.label }}<br>
            {{ form_add.contact(size=32) }}<br>
            {% for error in form_add.contact.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
            <p>
            {{ form_add.date.label }}<br>
            {{ form_add.date(size=32) }}<br>
            {% for error in form_add.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form_add.date_de_relance.label }}<br>
            {{ form_add.date_de_relance(size=32) }}<br>
            {% for error in form_add.date_de_relance.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form_add.statut.label }}<br>
            {{ form_add.statut(size=32) }}<br>
            {% for error in form_add.statut.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p> 
   
        
        <p>{{ form_add.submit() }}</p>
    </form>
{% endblock %}
</body>
</html>