{% extends "base.html" %}
{% block title %}
    Ajout candidature
{% endblock %}
{% block content%}
<div class='container mt-5'>
    <h1>Nouvelle Candidature</h1>
    <form method="POST" class="form-register">
        {{ form.hidden_tag() }}

        {{ form.name.label }}
        {{ form.name(size=32, class="form-control") }}
        <br>

        {{ form.place.label }}
        {{ form.place(size=32, class="form-control") }}
        <br>

        {{ form.contact.label }}
        {{ form.contact(size=32, class="form-control") }}
        <br>
        
        {{ form.submit(class="btn btn-lg btn-primary mt-4 d-block",id="button") }}
    </form>
</div>
{% endblock %}
