{% extends "base.html" %}
{% block title %}
    Ajout candidature
{% endblock %}
{% block content%}
<div class='container mt-5'>
    <h1>Nouvelle Candidature</h1>
    <form method="post" class="form-register">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>

        </p>
        <p>
            {{ form.place.label }}<br>
            {{ form.place(size=32) }}<br>

        </p>
        <p>
            {{ form.contact.label }}<br>
            {{ form.contact(size=32) }}<br>
 
        </p>
        
        <p>{{ form.submit(class="btn btn-lg btn-primary mt-4 d-block",id="button") }}</p>
    </form>
</div>
{% endblock %}
